<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<SettingsList>
<GeneralSettings>
<wp-url></wp-url>
<username></username>
<password></password>
<ad-code></ad-code>
</GeneralSettings>
<AdvancedSettings>
<Title field=""></Title>
<Content field=""></Content>
<Publish field=""></Publish>
</AdvancedSettings>
</SettingsList>